body{
    font-family: 'Roboto';
    background: white; 
    
}

.botones{
    
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 10%;
}

p{
    text-align: center;
    font-size: 25px;
    color: black;
}
.encabezado{
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    background: #b8891bf8;
    

}
