<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrir coneccion</title>
</head>
<body>
    <head>
        <h1>Atencion al cliente Nvio</h1>
        <p>Logo de la empresa</p>
    </head>
    <body>
        <p>Ingrese sus datos para contactar con un operador online</p>
        <form action="POST">
            Nombre <input type="text" name="nombre_usuario" value="" required>
            <p></p>
            Correo <input type="email" name="correo_usuario" value="" required>
            <p></p>
            Celular <input type="number" name="cel_usuario" value="">
            <p></p>
            <input type="submit" name="enviar" value="Continuar">
        </form>
    </body>
</body>
</html>