<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de coneccion</title>
</head>
<body>
    <h2>Administrar coneccion</h2>
    <p>Conexiones registradas</p>
    <table border="2" class="table">
        <thead>
            <tr>
                <th>Nombre Usuario</th>
                <th>Correo</th>
                <th>Cel</th>
                <th>Opcion</th>
            </tr>
        </thead>
        <tbody {% for conexion in conexiones %} <tr>
            <td>{{conexiones.0}}</td>
            <td>{{conexiones.1}}</td>
            <td>{{conexiones.2}}</td>
            <td><a href="#">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>La tabla se actualizara automaticamente</p>
    <p></p>
</body>
</html>